<html>
<head><title></title></head>

<body>

    <p>
        Welcome to {{restaurant.name}} !<br>    
       
    </p>

    <p>
        {% for menu in restaurant.menus %}

        <p><b>{{menu.name}}</b></p>
            {% for category in menu.categories %}
               - {{category.name}}: <br />
                    {% for dish in category.dishes %}
                            <a href="/dish?did={{dish.key()}}">{{dish.name}}</a> <br />
                    {% endfor %}   
            {% endfor %}

        {% endfor %}

    </p>

</body>
</html>
